/*=============== GOOGLE FONTS ===============*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*=============== VARIABLES CSS ===============*/

:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  --first-color: hsl(31, 100%, 70%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(0, 0%, 99%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);
  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-bold: 700;
  /*========== Margenes Bottom ==========*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: 0;
  background-color: var(--body-color);
  color: var(--text-color);
  -webkit-user-select: none;
  transition: 0.4s;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/*=============== THEME ===============*/

/*========== Variables Dark theme ==========*/

body.dark-theme {
  --first-color: hsl(31, 76%, 74%);
  --button-color: hsl(0, 0%, 24%);
  --button-color-alt: hsl(0, 0%, 28%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(0, 0%, 12%);
  --container-color: hsl(0, 0%, 16%);
  --border-color: hsl(0, 0%, 20%);
}

/*========== Button Dark/Light ==========*/

.change-theme {
  color: var(--title-color);
  font-size: 1.25rem;
  cursor: pointer;
}

/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/

.dark-theme .change-theme,
.dark-theme .nav__toggle,
.dark-theme .nav__shop,
.dark-theme .button--gray {
  color: hsl(0, 0%, 15%);
}

.dark-theme .scroll-header {
  box-shadow: 0 1px 4px hsla(0, 0%, 4%, 0.3);
  background-color: var(--body-color);
}

.scroll-header .change-theme,
.scroll-header .nav__toggle,
.scroll-header .nav__shop {
  color: var(--title-color);
}

.dark-theme::-webkit-scrollbar {
  background: hsl(0, 0%, 30%);
}

/*=============== REUSABLE CSS CLASSES ===============*/

.container {
  max-width: 1024px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

.section {
  /* padding: 6.5rem 0 1rem; */
  padding: 0rem 0 0rem;
}

.section__title {
  position: relative;
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-3);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.section__title::before {
  content: '';
  position: absolute;
  top: -1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 67px;
  height: 1px;
  background-color: var(--first-color);
}

/*=============== HEADER & NAV ===============*/

.header {
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  /*For animation dark mode*/
  transition: 0.4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__shop,
.nav__close {
  color: var(--title-color);
}

.nav__logo {
  text-transform: uppercase;
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
}

.nav__logo-icon {
  padding-right: 10px;
}

.nav__logo-icon img {
  width: 23px;
  height: 23px;
}

.nav__btns {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__toggle,
.nav__shop {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 6rem 2rem 3.5rem;
    transition: 0.3s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  text-transform: uppercase;
  font-size: var(--h2-font-size);
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  font-size: 2rem;
  position: absolute;
  top: 0.9rem;
  right: 1.25rem;
  cursor: pointer;
}

/* Show menu */

.show-menu {
  right: 0;
}

/* Change background header */

.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);
}

/* Active link */

.active-link {
  color: var(--first-color);
}

/* =============== Home ==================== */

.section_div {
  background-image: url("../img/Gateway_Quote_A1_12-05.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.377);
  background-blend-mode: darken;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-1);
  color: var(--first-color);
}

.home__description {
  margin-bottom: var(--mb-1-5);
  color: var(--first-color);
}

.home__btns {
  display: flex;
  align-items: center;
}

/* =============== Information ======================= */

.filter {
  text-align: center;
}

.filter input {
  width: 67%;
  padding: 12px 20px;
  /* margin-left: 31px; */
  box-sizing: border-box;
  border: 1px solid var(--button-color);
  color: white;
  outline: none;
  background-color: var(--container-color);
  transition: width 0.4s ease-in-out;
}

.bx-search-alt {
  font-size: 30px;
  position: relative;
  top: 10px;
  right: 40px;
  opacity: 0.4;
  cursor: pointer;
}

.loatButton {
  display: inline-block;
  background-color: var(--button-color);
  color: #fff;
  font-weight: var(--font-medium);
  transition: 0.3s;
  font-size: var(--small-font-size);
  margin: 3% 0% 6% 0px;
  padding: 1.5% 30px;
}

.book-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0% auto;
  font-family: sans-serif;
  background-color: var(--body-color);
  color: black;
}


button {
  border: none;
  background-color: transparent;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.5s;
}

button:focus {
  outline: none;
}

button:hover i {
  color: rgb(102, 102, 102);
}

.fa-arrow-circle-left {
  color: gray;
  font-size: 4em;
}

.fa-arrow-circle-right {
  color: gray;
  font-size: 4em;
}

/* Book */
.book {
  width: 350px;
  height: 500px;
  position: relative;
  transition: transform 0.5s;
}

.paper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  perspective: 1500px;
}

.front {
  backface-visibility: hidden;
  border-left: 3px solid #dac400;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--first-color);
  transform-origin: left;
  transition: transform 0.5s;
}

.front {
  z-index: 1;
}

.back {
  z-index: 0;
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  /* color: black; */
}

.back-content {
  transform: rotateY(180deg)
}

/* Paper Flipped */
.flipped .front,
.flipped .back {
  transform: rotateY(-180deg)
}

/* Paper Z-index */
#p1 {
  z-index: 3;
}

#p2 {
  z-index: 2;
}

#p3 {
  z-index: 1;
  /* color: black; */
}

/* Customization */

.cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#b1 {
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  justify-content: space-around;
}

#b1 h2 {
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 20px;
}

#b1 p {
  margin-bottom: 20px;
}

/*=============== BUTTONS ===============*/

.button {
  display: inline-block;
  background-color: var(--button-color);
  color: #fff;
  padding: 1.25rem 2rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--button-color-alt);
}

.button--gray {
  background-color: hsl(0, 0%, 75%);
  color: var(--title-color);
}

.button--gray:hover {
  background-color: hsl(0, 0%, 63%);
}

.button--small {
  padding: 1rem 1.5rem;
}

.button:active {
  transform: scale(0.98);
}

/*=============== PRODUCTS ===============*/

.products__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.products__card {
  position: relative;
  background-color: var(--container-color);
  padding: 1.25rem 0;
  border: 1px solid var(--border-color);
  text-align: center;
  transition: 0.3s;
}

.products__img {
  height: 125px;
  margin-bottom: var(--mb-1);
}

.products__title,
.products__price {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.products__title {
  text-transform: uppercase;
  margin-bottom: var(--mb-0-5);
}

.products__price {
  color: var(--first-color);
}

.products__button {
  background-color: var(--button-color);
  padding: 0.4rem;
  color: #fff;
  font-size: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}

.products__button:hover {
  background-color: var(--button-color-alt);
}

.products__card:hover {
  box-shadow: 0 8px 32px hsla(0, 0%, 10%, 0.1);
}


/* Swiper class */

.swiper-button-next,
.swiper-button-prev {
  top: initial;
  bottom: 5%;
  width: initial;
  height: initial;
  background-color: var(--container-color);
  box-shadow: 0 4px 12px hsla(0, 0%, 20%, 0.1);
  padding: 0.25rem;
  font-size: 1.5rem;
  color: var(--first-color);
}

.swiper-button-next {
  right: initial;
  left: 4rem;
}

/*=============== NEW ===============*/

.new__card {
  position: relative;
  text-align: center;
  background-color: var(--container-color);
  margin-bottom: 35px;
  padding-top: 2rem;
  border: 1px solid var(--border-color);
  overflow-y: hidden;
  transition: 0.3s;
}

.new__tag {
  background-color: var(--first-color);
  padding: 0.5rem 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: 0.3s;
}

.new__img {
  height: 215px;
  margin-bottom: var(--mb-1);
}

.new__title,
.new__price {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
}

.new__title {
  text-transform: uppercase;
  margin-bottom: var(--mb-0-75);
}

.new__price {
  display: block;
  color: var(--first-color);
  transition: 0.3s;
}

.new__button {
  font-size: var(--small-font-size);
  margin: 10% 0px;
}

.new__card:hover {
  background-color: var(--first-color);
  box-shadow: 0 12px 32px hsla(0, 0%, 20%, 0.1);
}

.new__card:hover .new__tag {
  background-color: var(--button-color);
}

.new__card:hover .new__title {
  color: hsl(0, 0%, 15%);
}

.new__card:hover .new__price {
  color: hsl(0, 0%, 15%);
}

/* swiper ration buttonsmall */

.swiper-pagination-bullet {
  background-color: var(--text-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color);
}

/*=============== NEWSLETTER ===============*/

.newsletter__bg {
  background-color: var(--first-color);
  padding: 3rem 1.5rem;
  text-align: center;
  row-gap: 2.5rem;
}

.newsletter__title {
  font-size: var(--h1-fnew__card swiper-slideont-size);
  color: hsl(0, 0%, 15%);
  margin-bottom: var(--mb-1-5);
}

.newsletter__description {
  color: hsl(0, 0%, 35%);
}

.newsletter__subscribe {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.newsletter__input {
  border: none;
  outline: none;
  background-color: hsl(0, 0%, 94%);
  padding: 1.25rem 1rem;
  color: hsl(0, 0%, 15%);
}

/*=============== FOOTER ===============*/

.footer__container {
  row-gap: 2rem;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 3rem;
}

.footer__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1-5);
}

.footer__list,
.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.footer__link {
  color: var(--text-color);
}

.footer__link:hover {
  color: var(--title-color);
}

.footer__social {
  display: flex;
  column-gap: 1rem;
}

.footer__social-link {
  font-size: 1.25rem;
  color: var(--text-color);
}

.footer__social-link:hover {
  color: var(--title-color);
}

.footer__copy {
  display: block;
  margin: 3.5rem 0 1rem 0;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*=============== SCROLL UP ===============*/

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--container-color);
  box-shadow: 0 4px 12px hsla(0, 0%, 20%, 0.1);
  display: inline-flex;
  padding: 0.25rem;
  z-index: var(--z-tooltip);
  opacity: 0.8;
  transition: 0.4s;
}

.scrollup:hover {
  opacity: 1;
}

.scrollup__icon {
  font-size: 1.5rem;
  color: var(--first-color);
}

/* Show Scroll Up*/

.show-scroll {
  bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/

::-webkit-scrollbar {
  width: 0.6rem;
  background: hsl(0, 0%, 74%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 17%);
}

/*=============== CART ===============*/

.cart {
  position: fixed;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  padding: 3.5rem 2rem;
  transition: 0.4s;
}

.cart__title-center {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: var(--mb-3);
}

.cart__close {
  font-size: 2rem;
  color: var(--title-color);
  position: absolute;
  top: 1.25rem;
  right: 0.9rem;
  cursor: pointer;
}

.cart__container {
  display: grid;
  row-gap: 1.5rem;
}

.cart__card {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.cart__box {
  background-color: var(--container-color);
  padding: 0.75rem 1.25rem;
  border: 1px solid var(--border-color);
}

.cart__img {
  width: 50px;
}

.cart__title {
  font-size: var(--normal-font-size);
  margin-bottom: 0.5rem;
}

.cart__price {
  display: block;
  font-size: var(--small-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1-5);
}

.cart__amount,
.cart__amount-content {
  display: flex;
  align-items: center;
}

.cart__amount {
  column-gap: 3rem;
}

.cart__amount-content {
  column-gap: 1rem;
}

.cart__amount-box {
  display: inline-flex;
  padding: 0.25rem;
  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.cart__amount-trash {
  font-size: 1.15rem;
  color: var(--first-color);
  cursor: pointer;
}

.cart__prices {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
}

.cart__prices-item,
.cart__prices-total {
  color: var(--title-color);
}

.cart__prices-item {
  font-size: var(--small-font-size);
}

.cart__prices-total {
  font-size: var(--small-font-size);
  border: 1px solid var(--button-color);
  padding: var(--mb-0-75);
  cursor: pointer;
}

/* Show cart */

.show-cart {
  right: 0;
}

/*=============== BREAKPOINTS ==================================================*/

@media screen and (max-width: 320px) {
  .filter input {
    width: 100%;
  }

  .section_div {
    padding: 170px 30px;
    padding-bottom: 100px;
  }

  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home__title {
    font-size: var(--h1-font-size);
  }

  .products__container {
    grid-template-columns: repeat(1, 180px);
    justify-content: cente;
  }
}

/* For medium devices */

@media screen and (max-width: 776px) {
  .filter input {
    width: 100%;
  }

  .section_div {
    padding: 170px 30px;
    padding-bottom: 100px;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 576px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* =============================================================== */
@media screen and (min-width: 767px) {
  .section_div {
    padding: 170px 30px;
    padding-bottom: 0%;
  }

  .items:nth-child(4) {
    grid-column: 1 / span 1;
  }

  .items:nth-child(3) {
    grid-column: 1 / span 2;
  }

  .section {
    padding: 5rem 0 0rem;
  }

  .cart {
    width: 420px;
    box-shadow: -2px 0 4px hsla(0, 0%, 15%, 0.1);
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    justify-content: initial;
    column-gap: 3rem;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }

  .nav__link {
    text-transform: initial;
    font-size: var(--normal-font-size);
  }

  .nav__btns {
    margin-left: auto;
  }

  .home__data {
    padding: 0 0 3rem 6rem;
  }

  .home__social {
    top: 47%;
    column-gap: 2rem;
  }

  .products__container {
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    gap: 2.5rem;
  }

  .products__card {
    padding: 2rem 0;
  }

  .products__img {
    height: 155px;
  }

  .newsletter__bg {
    text-align: initial;
    column-gap: 2rem;
    padding: 4.5rem;
  }

  .newsletter__subscribe {
    flex-direction: row;
  }

  .newsletter__input {
    width: 100%;
  }

  .footer__container {
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
  }

  .footer__title {
    font-size: var(--h3-font-size);
  }
}

@media screen and (min-width: 992px) {
  .section__title {
    font-size: var(--h2-font-size);
  }

  .home__social {
    left: -6rem;
  }

  .home__data {
    padding: 0 0 8rem 6rem;
  }

  .products__container,
  .new__container {
    padding-top: 2rem;
  }
}

/* For large devices */

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .testimonial__img {
    right: 5rem;
    top: 5rem;
  }

  .scrollup {
    right: 3rem;
  }
}

@media screen and (max-width: 947px) {
  .book-section {
    display: none;
  }
}

@media screen and (max-width: 947px) {

  .filter {
    padding-top: 4%;
    /* background-color: red; */
  }
  
  .filter input {
    width: 80%;
    margin-left: 30px;
    /* margin-left: 30px; */

  }

  .loatButton {
    display: inline-block;
    font-weight: 0;
    font-size: var(--small-font-size);
    margin: 3% 0% 6% 0px;
    padding: 10px 16px;
  }

}